// Button按钮
// 基础样式
.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 40px;
  padding: 0 16px;
  font-size: var(--seed-font-size-l);
  box-sizing: border-box;

  // Shape
  &.shape-round,
  &.shape-circle {
    border-radius: 40px;
  }
  &.shape-square,
  &.shape-circle {
    width: 40px;
  }

  // Size
  &.size-xxs {
    height: 20px;
    padding: 0 4px;
    font-size: var(--seed-font-size-xs);
    &.shape-round,
    &.shape-circle {
      border-radius: 20px;
    }
    &.shape-square,
    &.shape-circle {
      width: 20px;
    }
  }
  &.size-xs {
    height: 24px;
    padding: 0 8px;
    font-size: var(--seed-font-size-s);
    &.shape-round,
    &.shape-circle {
      border-radius: 24px;
    }
    &.shape-square,
    &.shape-circle {
      width: 24px;
    }
  }
  &.size-s {
    height: 32px;
    padding: 0 12px;
    font-size: var(--seed-font-size-m);
    &.shape-round,
    &.shape-circle {
      border-radius: 32px;
    }
    &.shape-square,
    &.shape-circle {
      padding: 0;
      width: 32px;
    }
  }
  &.size-m {
  }
  &.size-l {
    height: 48px;
    padding: 0 20px;
    // 字号太大会不好看
    font-size: var(--seed-font-size-xl);

    &.shape-round,
    &.shape-circle {
      border-radius: 48px;
    }
    &.shape-square,
    &.shape-circle {
      width: 48px;
    }
  }
  &.size-xl {
    height: 56px;
    padding: 0 24px;
    // 字号太大会不好看
    font-size: var(--seed-font-size-xxl);

    &.shape-round,
    &.shape-circle {
      border-radius: 56px;
    }
    &.shape-square,
    &.shape-circle {
      width: 24px;
    }
  }

  // Disabled events
  &[disabled],
  &.disabled {
    pointer-events: none;
  }

  // Color & Variant
  &.variant-outline,
  &.variant-text {
    background-color: transparent;
  }
  &.variant-text {
    border: 0;
  }

  & {
    color: var(--seed-font-color-default);
    background-color: var(--seed-bg-button-default);
    border: 1px solid var(--seed-border-color);
    &.disabled,
    &[disabled] {
      color: var(--seed-font-color-disabled);
    }

    &.variant-outline {
      border: 1px solid var(--seed-border-color);
    }

    &.variant-fill {
      background-color: var(--seed-bg-button-default-lighten);
    }
  }
  &.primary {
    color: white;
    .seed-button-icon {
      color: white;
    }
    background-color: var(--seed-primary);
    border: 0;
    &.disabled,
    &[disabled] {
      opacity: 0.3;
    }

    &.variant-outline,
    &.variant-text {
      color: var(--seed-primary);
      .seed-button-icon {
        color: var(--seed-primary);
      }
      background-color: transparent;
    }
    &.variant-outline {
      border: 1px solid var(--seed-primary);
    }

    &.variant-fill {
      color: var(--seed-primary);
      .seed-button-icon {
        color: var(--seed-primary);
      }
      background-color: var(--seed-primary-lighten);
    }
  }
  &.link {
    color: white;
    .seed-button-icon {
      color: white;
    }
    background-color: var(--seed-link);
    border: 0;
    &.disabled,
    &[disabled] {
      opacity: 0.3;
    }

    &.variant-outline,
    &.variant-text {
      color: var(--seed-link);
      .seed-button-icon {
        color: var(--seed-link);
      }
      background-color: transparent;
    }
    &.variant-outline {
      border: 1px solid var(--seed-link);
    }

    &.variant-fill {
      color: var(--seed-link);
      .seed-button-icon {
        color: var(--seed-link);
      }
      background-color: var(--seed-link-lighten);
    }
  }
  &.warning {
    color: white;
    .seed-button-icon {
      color: white;
    }
    background-color: var(--seed-warning);
    border: 0;
    &.disabled,
    &[disabled] {
      opacity: 0.3;
    }

    &.variant-outline,
    &.variant-text {
      color: var(--seed-warning);
      .seed-button-icon {
        color: var(--seed-warning);
      }
      background-color: transparent;
    }
    &.variant-outline {
      border: 1px solid var(--seed-warning);
    }

    &.variant-fill {
      color: var(--seed-warning);
      .seed-button-icon {
        color: var(--seed-warning);
      }
      background-color: var(--seed-warning-lighten);
    }
  }
  &.danger {
    color: white;
    .seed-button-icon {
      color: white;
    }
    background-color: var(--seed-danger);
    border: 0;
    &.disabled,
    &[disabled] {
      opacity: 0.3;
    }

    &.variant-outline,
    &.variant-text {
      color: var(--seed-danger);
      .seed-button-icon {
        color: var(--seed-danger);
      }
      background-color: transparent;
    }
    &.variant-outline {
      border: 1px solid var(--seed-danger);
    }

    &.variant-fill {
      color: var(--seed-danger);
      .seed-button-icon {
        color: var(--seed-danger);
      }
      background-color: var(--seed-danger-lighten);
    }
  }
  &.success {
    color: white;
    .seed-button-icon {
      color: white;
    }
    background-color: var(--seed-success);
    border: 0;
    &.disabled,
    &[disabled] {
      opacity: 0.3;
    }

    &.variant-outline,
    &.variant-text {
      color: var(--seed-success);
      .seed-button-icon {
        color: var(--seed-success);
      }
      background-color: transparent;
    }
    &.variant-outline {
      border: 1px solid var(--seed-success);
    }

    &.variant-fill {
      color: var(--seed-danger);
      .seed-button-icon {
        color: var(--seed-danger);
      }
      background-color: var(--seed-success-lighten);
    }
  }
}
