// NavBar button
.navbar-button-icon {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--seed-font-color-secondary);
  font-size: 16px;

  &.icon,
  .icon {
    font-family: seeds-icons;
    width: 16px;
    height: 16px;
    font-size: 16px;
  }

  // Color
  &.primary {
    color: var(--seed-primary);
  }
}
