// 常用色
.color-white {
  color: white;
}

.color-disabled {
  color: var(--disabled);
}

.color-default {
  color: var(--default);
}

.color-auxiliary {
  color: var(--auxiliary);
}

.color-secondary {
  color: var(--secondary);
}

.color-tertiary {
  color: var(--tertiary);
}

.color-placeholder {
  color: var(--placeholder);
}

.color-primary {
  color: var(--primary);
}

.color-link {
  color: var(--link);
}

.color-warning {
  color: var(--warning);
}

.color-danger {
  color: var(--danger);
}

.color-success {
  color: var(--success);
}

// 背景颜色
.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: white;
}

.bg-body {
  background-color: var(--app-background-color);
}

.bg-disabled {
  background-color: var(--disabled);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-lighten {
  background-color: var(--primary-lighten);
}

.bg-link {
  background-color: var(--link);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-danger {
  background-color: var(--danger);
}

.bg-success {
  background-color: var(--success);
}
