.space-compact {
  display: flex;
}

// Button
.button-compact-item,
.toolbar-button-compact-item,
.toolbar-list-combo-compact-item .toolbar-button {
  border-radius: 0 !important;
}
.button-compact-first-item,
.toolbar-button-compact-first-item,
.toolbar-list-combo-compact-first-item .toolbar-button {
  border-top-left-radius: var(--seed-radius-m) !important;
  border-bottom-left-radius: var(--seed-radius-m) !important;
}
.button-compact-last-item,
.toolbar-button-compact-last-item,
.toolbar-list-combo-compact-last-item .toolbar-button {
  border-top-right-radius: var(--seed-radius-m) !important;
  border-bottom-right-radius: var(--seed-radius-m) !important;
}

&.toolbar-button-compact-item:not(.toolbar-button-compact-first-item) {
  border-left: 1px solid var(--seed-border-color);
}
