// Mark标签
// 基础样式
.mark {
  padding: 3px 4px;

  color: white;
  font-size: var(--seed-font-size-xs);
  border-radius: 3px;
  border-width: 0;
  border-style: solid;

  &.s {
    padding: 0px 4px;
  }
}

// 填充模式
.mark {
  // 默认取color颜色
  color: white;
  background-color: var(--color);
  border-color: var(--color);

  &.default {
    color: var(--seed-font-color-default);
    background-color: white;
    border-color: var(--seed-border-color);
  }
  &.primary {
    color: white;
    background-color: var(--seed-primary);
    border-color: var(--seed-primary);
  }
  &.link {
    color: white;
    background-color: var(--seed-link);
    border-color: var(--seed-link);
  }
  &.warning {
    color: white;
    background-color: var(--seed-warning);
    border-color: var(--seed-warning);
  }
  &.danger {
    color: white;
    background-color: var(--seed-danger);
    border-color: var(--seed-danger);
  }
  &.success {
    color: white;
    background-color: var(--seed-success);
    border-color: var(--seed-success);
  }
}

// 线框模式
.mark.outline {
  border-width: 1px;

  // 默认取color颜色
  color: var(--color);
  background-color: transparent;
  border-color: var(--color);

  &.default {
    color: var(--seed-font-color-default);
    background-color: transparent;
    border-color: var(--seed-border-color);
  }
  &.primary {
    color: var(--seed-primary);
    background-color: transparent;
    border-color: var(--seed-primary);
  }
  &.link {
    color: var(--seed-link);
    background-color: transparent;
    border-color: var(--seed-link);
  }
  &.warning {
    color: var(--seed-warning);
    background-color: transparent;
    border-color: var(--seed-warning);
  }
  &.danger {
    color: var(--seed-danger);
    background-color: transparent;
    border-color: var(--seed-danger);
  }
  &.success {
    color: var(--seed-success);
    background-color: transparent;
    border-color: var(--seed-success);
  }
}

// light-outline
.mark.light-outline {
  border-width: 1px;

  // 默认取color颜色
  color: var(--color);
  background-color: transparent;
  border-color: var(--color);

  &.default {
    color: var(--seed-font-color-default);
    background-color: white;
    border-color: var(--seed-border-color);
  }
  &.primary {
    color: var(--seed-primary);
    background-color: var(--seed-primary-lighten);
    border-color: var(--seed-primary);
  }
  &.link {
    color: var(--seed-link);
    background-color: var(--seed-link-lighten);
    border-color: var(--seed-link);
  }
  &.warning {
    color: var(--seed-warning);
    background-color: var(--seed-warning-lighten);
    border-color: var(--seed-warning);
  }
  &.danger {
    color: var(--seed-danger);
    background-color: var(--seed-danger-lighten);
    border-color: var(--seed-danger);
  }
  &.success {
    color: var(--seed-success);
    background-color: var(--seed-success-lighten);
    border-color: var(--seed-success);
  }
}
