/*
定义变量-----------------------------------------------------------------------------------------
*/

// 基础颜色(控件多基于如下几种颜色)
:root {
  // 动画时长(例如遮等)
  --seed-animation-duration: 300ms;
  --seed-animation-duration-open: 300ms;
  --seed-animation-duration-close: 250ms;

  // 背景色
  --seed-bg-default: #f1f2f5;
  --seed-bg-secondary: #f3f3f6;
  --seed-bg-tertiary: #f3f3f6;
  --seed-bg-quaternary: #f3f3f6;
  --seed-bg-mask: rgba(0, 0, 0, 30%);
  --seed-bg-divider: #f9fafb;

  // 文字色
  --seed-font-color-default: #1a1c1f;
  --seed-font-color-secondary: #5c646c;
  --seed-font-color-tertiary: #85909c;
  --seed-font-color-quaternary: #a9b1b9;
  --seed-font-color-disabled: #a9b1b9;

  --seed-font-color-default-rgb: 26, 28, 31;
  --seed-font-color-secondary-rgb: 92, 100, 108;
  --seed-font-color-tertiary-rgb: 119, 129, 140;
  --seed-font-color-quaternary-rgb: 169, 177, 185;
  --seed-font-color-disabled-rgb: 169, 177, 185;

  // 边框色
  --seed-border-color: #e6e8eb;

  // 颜色
  --seed-primary: #ff9008;
  --seed-primary-lighten: #fff7e6;
  --seed-link: #0076ff;
  --seed-link-lighten: #e6f4ff;
  --seed-warning: #f4984e;
  --seed-warning-lighten: #fffbe6;
  --seed-danger: #fc484a;
  --seed-danger-lighten: #fff1f0;
  --seed-success: #00a870;
  --seed-success-lighten: #f6ffed;

  // 文字大小
  --seed-font-size-xxxl: 20px;
  --seed-font-size-xxl: 18px;
  --seed-font-size-xl: 16px;
  --seed-font-size-l: 15px;
  --seed-font-size-m: 14px;
  --seed-font-size-s: 12px;
  --seed-font-size-xs: 11px;

  // 圆角大小
  --seed-radius-xl: 12px;
  --seed-radius-l: 10px;
  --seed-radius-m: 8px;
  --seed-radius-s: 6px;
  --seed-radius-xs: 4px;
  --seed-radius-xxs: 3px;

  // 间距大小
  --seed-space-xxl: 16px;
  --seed-space-xl: 14px;
  --seed-space-l: 12px;
  --seed-space-m: 10px;
  --seed-space-s: 8px;
  --seed-space-xs: 6px;
  --seed-space-xxs: 4px;
  --seed-space-xxxs: 2px;

  // 安全区
  --seed-safe-area-inset-top: env(safe-area-inset-top);
  --seed-safe-area-inset-bottom: env(safe-area-inset-bottom);

  // Input控件
  --seed-input-height-m: 20px;
}
